<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="repositoryOwner" value="EugeneAndrosovBpmonline" />
		<add key="repositoryName" value="Terrasoft.Tools.SVN" />
		<add key="repositoryToken" value="4492a945ebc09091a2f84c98cc06db0af41b8c1f" />
		<add key="tempFolder" value="C:\Projects\Terrasoft.Tools.SVN.git\Terrasoft.Tools.SvnUI\bin\Release" />
	</appSettings>
</configuration>