<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="repositoryOwner" value="EugeneAndrosovBpmonline" />
		<add key="repositoryName" value="Terrasoft.Tools.SVN" />
		<add key="repositoryToken" value="487012b86d14afe0d58bff6a9b740585860d4054" />
		<add key="tempFolder" value="C:\Projects\Terrasoft.Tools.SVN.git\Terrasoft.Tools.SvnUI\bin\Release" />
		<add key="replaceAppFilesPsFileName" value="UpdateApp.ps1" />
	</appSettings>
</configuration>