<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="latestVersionId" value="0" />
    <add key="checkNewVersionIsAppStart" value="True" />
    <add key="defSvnUser" value="" />
    <add key="defSvnPassword" value="" />
    <add key="defWorkingCopyPath" value="C:\SVN\Project\" />
    <add key="defCommitIfNoError" value="True" />
    <add key="defBranchFeatureUrl" value="http://ts1-def-svn02.tscrm.com:8050/svn/mstby/branches" />
    <add key="defBranchReleaseUrl" value="http://ts1-def-svn02.tscrm.com:8050/svn/mstby/trunk/PackageStore" />
    <add key="defMaintainer" value="Terrasoft" />
    <add key="defFeatureName" value="" />
    <add key="defDbServerName" value="Partner\MSSQL2017" />
    <add key="defDbServerUserLogin" value="admin" />
    <add key="defDbServerUserPassword" value="" />
    <add key="defDatabaseName" value="MTS7131DevATsyrul" />
    <add key="defBackupPath" value="\\a-tsyrul\dfghjkl\BPMonline7123SalesEnterprise_Marketing_ServiceEnterprise.bak" />
    <add key="defBackupPathType" value="MsSql" />
    <add key="defBackupFtpPath" value="ftp://ftp01.bpmonline.com/backup/MTSBY7123_R.DMP" />
    <add key="defFtpLogin" value="ftp01.bpmonline.com|partner" />
    <add key="defFtpPassword" value="" />
    <add key="defFtpTempFile" value="C:\Projects\DevTemp\temp.BAK" />
    <add key="defPkgPath" value="C:\Projects\Terrasoft.Loader\Terrasoft.WebApp\Terrasoft.Configuration\Pkg" />
    <add key="defSaveTempDirectory" value="C:\Temp" />
  </appSettings>
</configuration>